@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/http-services.js"></script>
</head>
<body>
    <div>
        <button onclick="onLogin()">Login</button>
        <button onclick="onGetToken()">Get token</button>
        <button onclick="onLogout()">Logout</button>
    </div>
    <br />
    <div>
        <button onclick="onTest1()">Test1</button>
        <button onclick="onTest2()">Test2</button>
    </div>

    <script>
        const http = new Http();

        function onLogin() {
            var data = {
                username: 'admin@gmail.com',
                password: '123',
                grant_type: 'password'
            }

            http.post('/api/token', data)
                .then(result => result.json())
                .then(result => {
                    console.log('result', result);
                    Storage.set(result.data);
                });
        }

        function onGetToken() {
            var storage = Storage.get();

            var data = {
                refresh_token: storage.refresh_token,
                grant_type: 'refresh_token'
            }

            http.post('/api/token', data)
                .then(result => result.json())
                .then(result => {
                    console.log('result', result);
                    Storage.set(result.data);
                });
        }

        function onLogout() {
            Storage.remove();
        }

        function onTest1() {
            http.get('/api/test/test1')
                .then(result => result.json())
                .then(result => {
                    console.log('result', result);
                });
        }

        function onTest2() {
            http.get('/api/test/test2')
                .then(result => result.json())
                .then(result => {
                    console.log('result', result);
                });
        }
    </script>
</body>
</html>
